/* Classes */
.contact-header
{
    font-size: 38px;
    font-weight: bold;
    color: #ff0000;
}

.form-intro 
{
    margin-top: 5px;
    padding-top: 5px;
    font-size: 25px;
    line-height: 1.6rem;

}

.form-label 
{
    font-weight: bold;
}

.btn 
{
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}